.hero{
  background-image: url("photography/1H.JPG");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}
.hero::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
  z-index: 1;
  .hero-text{
    position: relative;
    z-index:2;
    color: white;
    padding: 40px;
    text-align: left;
    width: 60&;
  }

.hero h1{
  font-size: 40px;
  margin-bottom: 10px;
}
.hero p{
  font-size: 18px;
  max-width: 700px;
  line-height: 1.6;
}
body{
  font-family: Arial, sans-serif;
  margin: 20px;
}
nav a{
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
.gallery img{
  width: 220px;
  margin:8px;
  border-radius: 8px;
}
.team{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.person{
  text-align: center;
  width: 200px;
}
.profile{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

  
