.hero{
  background-image: url("photography/1H.JPG");
  background-size: cover;
  background-position: center;
  padding: 80px30px;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
}
.hero{
  font-size: 40px;
  margin-bottom: 10px;
}
.hero p{
  font-size: 18px;
  max-width: 700px;
  line-height: 1.6;
}
body{
  font-family: Arial, sans-serif;
  margin: 20px;
}
nav a{
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
.gallery img{
  width: 220px;
  margin:8px;
  border-radius: 8px;
}
.team{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.person{
  text-align: center;
  width: 200px;
}
.profile{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

  
