.hero{
  background-image: url("photography/1H.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}
.hero-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.35);
  padding: 20px 30px;
  border-radius: 8px;
  width:70%
  max-width: 600px;
}
.welcome-text{
  font-size:36px;
  font-weight: 600;
  text-align: center;
}
.hero-title{
  font-size: 42px;
}
.hero-desc{
  font-size: 18px;
  margin: 0;
  max-width: 700px;
  line-height: 1.6;
}

body{
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #E0F8FF;
}
nav a{
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
.gallery img{
  width: 220px;
  margin:8px;
  border-radius: 8px;
}
.team{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.person{
  text-align: center;
  width: 200px;
}
.profile{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.team-member{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.team-photo{
  width:30px;
  height:30px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}
.team-member h3{
  margin-top:0
}


  
